html * {
  font-family: "PT Sans";
}
body {
  margin: 2%;
  font-family: "Dosis", sans-serif;
  color: #121213;
  font-size: 14px;
  line-height: 20px;
}
.logo {
  height: 100px;
  width: 150px;
  background-color: rgb(228, 115, 17);
}
.parallax-title {
  margin-top: 20px;
  color: #fff;
  font-size: 62px;
  line-height: 70px;
}
.customnavbar {
  width: 70%;
  margin: auto;
  background-color: white;
  position: relative;
  float: right;
}

.social-vertical.horizontal-nav {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
  flex-direction: column;
}

.nav-parallax {
  position: relative;
  display: flex;
  height: 85vh;
  padding-right: 5%;
  padding-left: 5%;
  flex-direction: column;
  justify-content: center;
  background-color: #c1c3cc;
  background-image: linear-gradient(
      76deg,
      rgba(193, 195, 204, 0.83) 35%,
      rgba(193, 195, 204, 0.28) 65%
    ),
    url(res/slide-2.jpg);
  background-position: 0px 0px, 50% 0%;
  background-size: auto, cover;
  background-attachment: scroll, fixed;
}
.nav-button {
  margin-top: 20px;
  border-radius: 0%;
  color: white;
  text-transform: uppercase;
  border: none;
  padding: 15px 40px;
  width: auto;
  font-size: 12px;
  background-color: rgb(228, 115, 17);
}
.nav-text {
  position: relative;
  z-index: 1;

  padding-top: 3px;
  padding-bottom: 3px;
  background-color: #fff;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}
.nav-contact {
  position: absolute;
  min-height: 200px;
  right: 0;
  bottom: 0%;
  margin-bottom: -80px;
  background-color: #e47312;
  background-image: linear-gradient(158deg, #e47312, #ff6361);
}
.nav-contact-txt {
  margin-bottom: 5px;
  color: #919197;
  font-size: 17px;
  line-height: 25px;
}
.icon-spec {
  height: 60px;
  width: 60px;
  display: block;
  margin-bottom: 20px;
  /* Other styles here */
}
.icon-spec ~ h5 {
  margin-top: 0px;
  font-size: 17px;
  line-height: 30px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.icon-spec ~ p {
  color: grey;
  margin-bottom: 20px;
}
.icon-spec ~ a {
  color: rgb(146, 146, 152);
  margin-top: 15px;
  margin-left: 0px;
  padding-top: 0px;
  padding-bottom: 5px;
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: bold;
  font-family: "Dosis";
  text-transform: uppercase;

  text-decoration: none;
}
.icon-spec ~ a:hover {
  text-decoration: underline;
  text-decoration-color: rgb(228, 115, 17);
  color: inherit;
}
.fun-text {
  margin-bottom: 10px;
  color: #e47312;
  font-size: 60px;
  line-height: 70px;
  font-weight: 500;
}
/* p {
  font-family: "PT Sans";
  color: #919197;
  font-size: 17px;
  line-height: 25px;
} */
.fun-text ~ p {
  margin-bottom: 10px;
  font-family: "Dosis", sans-serif;
  color: #919197;
  font-size: 17px;
  line-height: 25px;
}

.section-title {
  position: relative;
  z-index: 2;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 42px;
  line-height: 50px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.section-button {
  color: #919198;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-decoration: none;
}
.section-button:hover {
  color: #919198;
  text-decoration-color: #e47312;
  padding-bottom: 3px;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
}
#our-work {
  background-color: rgb(247, 248, 252);
}
#our-work img {
  max-width: 100%;
  max-height: 100%;
}
.img-content {
  margin-bottom: 25px;
}

.project-content {
  position: relative;
  overflow: hidden;
}

.project-overlay {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  transition: 0.2s;
  opacity: 0;
}

.project-circle {
  display: flex;
  width: 90px;
  height: 90px;
  padding-right: 11px;
  padding-left: 11px;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-image: linear-gradient(59deg, #ff6361, #e47312);
  color: #fff;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.img-content:hover .project-overlay,
.img-content:hover .project-circle {
  opacity: 1;
}
.parallax {
  background-image: linear-gradient(72deg, #e47312, rgba(255, 99, 97, 0.78)),
    url("res/banner-2.jpg");
  padding-top: 7%;
  padding-bottom: 7%;
  background-color: #e47312;
  min-height: 325px;
  background-position: 0px 0px, 50% 50%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.parallax h2 {
  position: relative;
  z-index: 2;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 42px;
  line-height: 50px;
  letter-spacing: 1px;
  color: white;
  text-transform: uppercase;
}

.parallax p {
  color: white;
  margin-top: 10px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 300;
}
.parallax a {
  color: white;
  margin-top: 30px;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
.parallax a:hover {
  text-decoration: underline;
  text-decoration-color: #fff;
}

.team-wrapper {
  position: relative;
  width: 95%;
}
.team-photo {
  min-height: 300px;
  background-position: 50% 0%;
  background-size: cover;
  background-repeat: no-repeat;
}
.team-content {
  padding: 29px 66px 29px 29px;
  background-color: #fff;
}

.social-vertical {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 143px;
  /* display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox; */
  display: flex;
  padding: 10px;
  /* -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column; */
  flex-direction: column;
  background-color: #0a1229;
}

.social-vertical.horizontal {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
  /* -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column; */
  flex-direction: column;
  background-color: #e47312;
}
.w-clearfix:before {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}

.service-title {
  margin-top: 0px;
  font-size: 17px;
  line-height: 30px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.job-title {
  margin-bottom: 0px;
  color: #bdbdc9;
  font-size: 16px;
}

.social-icon {
  /* display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox; */
  display: flex;
  width: 40px;
  height: 50px;
  float: left;
  /* -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center; */
  justify-content: center;
  /* -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center; */
  align-items: center;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.14);
}

.social-icon.no-bottom {
  border-bottom-style: none;
}

.testimonials-photo {
  position: relative;
  display: flex;
  width: 60px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -50px;
  align-items: stretch;
  border-radius: 100%;
  background-image: linear-gradient(8deg, #ff6361, #e47312);
  opacity: 1;
  color: #fff;
  font-size: 80px;
  line-height: 80px;
}
.testimony-title {
  margin-top: 25px;
  margin-bottom: 5px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
}
.testimonial-paragraph {
  margin: 15px 20px 0px;
  margin-top: 15px;
  margin-bottom: 0px;

  color: #919197;
}

.text-block-2 {
  padding-top: 12px;
}
.testimonials-wrapper {
  position: relative;
  display: block;
  width: 90%;
  margin: 50px auto 61px;
  padding: 80px 30px 26px;
  background-color: #fff;
  text-align: center;
}

.topright {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
}
.blog-content {
  width: 100%;
  padding: 25px 120px 50px 30px;
  background-color: #e47312;
  background-image: linear-gradient(158deg, #e47312, #ff6361);
}
.blog-title {
  margin-top: 15px;
  margin-left: 15px;
  color: white;
  text-transform: uppercase;
}
.blog-text {
  margin-left: 15px;
  margin-top: 15px;
  color: hsla(0, 0%, 100%, 0.7);
}
.blog-link {
  margin-left: 15px;
  color: white;
  text-decoration-color: #919198;
  text-decoration-thickness: 0.1em;
  text-underline-offset: 5px;
}
.blog-link:hover {
  text-decoration: none;
}

.trusted-com-title {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 50px;
  color: #fff;
  text-transform: uppercase;
}
.trusted-com {
  min-height: 150px;
  background-color: #e47312;
  background-image: linear-gradient(158deg, #e47312, #ff6361);
}
.trusted-com-item {
  min-height: 100px;
  margin: 5px;
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: center;
}
footer {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.line {
  width: 80%;
  margin-left: 10px;
  border-top: 1px solid rgb(255, 99, 97);
}
.f-heading {
  text-transform: uppercase;
  width: max-content;
  color: white;
  white-space: nowrap;
}
.f-para {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 17px;
  line-height: 25px;
  color: white;
}
.f-link {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  display: block;
  margin-bottom: 10px;
}
.f-link:hover {
  color: white;
  padding-bottom: 3px;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
}
.info-image {
  width: 20px;
  margin-right: 15px;
  margin-bottom: 0px;
}
.info-horiz {
  margin-bottom: 15px;
  padding-top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.info-heading {
  margin-top: 0px;
  margin-bottom: 10px;
  color: #fff;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.info-text {
  margin-bottom: 10px;
  color: #919197;
  font-size: 17px;
  line-height: 25px;
}
